@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #F5CE41, #756F5A);
}

main {
    background-color: white;
    box-shadow: 10px, 10px, 10px black;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #f5ce41b9;
    text-align: center;
    text-shadow: 5px, 2px, 2px #00000073;
}

h2 {
    color: #cab1588c
}

p {
    text-align: justify;
}